@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
@import url("https://fonts.cdnfonts.com/css/miama");


body{
  background-color: black;
  color: white;
}

/* sherd style  */
.container {
  width: 80%;
  margin: 0 auto;
}
.btn-1{
  font-size: 1.5rem;
  border: none;
  padding: 15px 25px;
  color: white;
  background-color: rgb(230, 83, 60);
  border-radius: 30px;
  
}
.btn-2{
  font-size: 1.5rem;
  border: 1px solid white;
  padding: 14px 25px;
  color: white;
  border-radius: 30px;
  background-color: transparent;
  margin-left: 1rem;
}
/* header styles */

/* navbar related styles */
.header-section{
 background: linear-gradient(#111111, #777777);
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.navbar .brand-name{
  font-size: 4rem;
  color: rgb(230, 83, 60);
}
.navbar ul{
  display: flex;
  color: #ffff;
}
.navbar li{
  list-style: none;
}
.navbar ul li a{
color: #ffff;
text-decoration: none;
list-style: none;
padding: 20px;
}
/* navbar end */


.banner{
  display: flex;
  justify-content: space-between;
}
.banner-content{
  width: 40%;
}
.parent-banner .banner .banner-title {
color: #ffff;
font-size: 5rem;
}
.style-font{
  font-family: "Miama", sans-serif;
  font-weight: 200;
}
.parent-banner .banner .banner-description{
  color: #ffff;
  font-size: 1rem;
  text-align: left;
}
.banner-img img{
  position: relative;

}
/* .banner-img .up{
  position: absolute;
  bottom: 200px;
  background-color: rgb(230, 83, 60);
  top: 20%;
  right: 10%;
}
.banner-img .down{
  position: absolute;
  background-color: rgb(230, 83, 60);
  bottom: 200px;
  left: 50px;
} */
 .video-tutorial{
  display: flex;
  width: 210px;
  padding: 20px 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(12px);
  align-items: center;
  position: absolute;  
  top: 600px;
  left: 960px;
}
.red-color{
  width: 40px;
  height: 40px;
  background-color: rgb(230, 83, 60);
  border-radius: 50%;
}
.tutorial-text{
  margin-left: 12px;
  color: white;
}
.tutorial-text span{
  font-size: 1rem;
  font-weight: 400;
}
.work-out{
  width: 210px;
  padding: 20px 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(12px);
  align-items: center;
  position: absolute;  
  top: 200px;
  left: 1250px;
}




/* main (first) section style  */
.main-first-section {
  width: 100%;
  background-color: black;
}

.content-1 {
  width: 70%;
  margin: 50px auto;
  text-align: center;
}

.content-1>h1 {
  font-weight: 800;
  font-size: 3rem;
  padding-bottom: 0.5rem;
  color: #ffff;

}

.content-1>p {
  display: block;
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
  color: rgb(228, 219, 219);
}

.parent-of-image {
  display: flex;
  justify-content: space-around;
}

.photo-1 {
  /* width: 340px; */
}

.photo-1>h4 {
  font-size: 2rem;
  color: #ffffff;
  padding: 1rem;
  margin: 0;
  font-weight: 500;
}

.photo-1>h4,
p {
  text-align: center;
}

.photo-1>p {
  color: rgb(228, 219, 219);
  width: 200px;
  margin: auto;
}

.photo-1>img {
  border-radius: 50%;
  border: 1px solid white;
  height: 220px;
  width: 220px;
  margin-left: 2rem;
}